<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wxj.springboot.mybatisplus.mapper.UserMapper">

    <select id="selectPageVo" resultType="com.wxj.springboot.mybatisplus.pojo.User">
        select uid,username as name,age,email from t_user where age > #{age}
    </select>
</mapper>