<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wxj.springboot.mybatis.mapper.DeptMapper">

    <resultMap id="DeptEmpMap" type="com.wxj.springboot.mybatis.domain.entity.Dept">
        <id property="did"  column="id"></id>
        <result property="deptName" column="dept_name"></result>
        <collection property="emps" ofType="com.wxj.springboot.mybatis.domain.entity.Employee">
            <id property="eid" column="id"></id>
            <result property="empName" column="emp_Name"></result>
            <result property="age" column="age"></result>
            <result property="sex" column="sex"></result>
            <result property="email" column="email"></result>
        </collection>

    </resultMap>

    <select id="getDeptAndEmpById" resultMap="DeptEmpMap">
        select t.id,t.dept_name,e.id,e.emp_Name,e.age,e.sex,e.email
        from dept t
                 left join employee e on t.id = e.did
        where t.id = #{id}
    </select>
</mapper>